<div class="container"> 
    <form>
        <label>Country 1:</label>
        <div class="sidebyside">
            <select class="form-control" ng-model="vm.game.country1">
                <option ng-repeat="team in vm.teamList" value="{{team}}">{{team}}</option>
            </select>
        </div>

        <br>

        <label>Country 2:</label>        
        <div class="sidebyside">
            <select class="form-control" ng-model="vm.game.country2">
                <option ng-repeat="team in vm.teamList" value="{{team}}">{{team}}</option>
            </select>
        </div>

        <div ng-hide="vm.showCoin">
            <center><img style="width: 100%" src="styles/images/animation.gif"></center>
        </div>    

        <p ng-if="vm.showTossResult">
            Very cloudy condition!, <b>{{vm.country_to_bowl}}</b> choose to bowl first
        </p>



        <div>
            <br>
            <a ng-hide="vm.hideTossButton || vm.showTossResult" class="btn btn-info" ng-click="vm.coinToss(vm.game)">Toss</a>
            <a ng-show="vm.showTossResult" href="#/play/{{vm.match_id}}/0/0" class="btn btn-info" ng-click="vm.setGame(vm.game)">Play</a>
        </div>
    </form>

    
</div>
