
body {
  padding: 0;
}

.sidebyside{
  display: inline-block;
  width: 100%;
}

form { margin: 0 auto; width: 36% }

.score{
  font-size: 25px;
}

table {
  height: 120px;
  overflow-y: scroll; 
}

.btn-warning {
    color: #fcf8e3;
    background-color: #f05d4e;
    border-color: #eea236;
}

.over li{
  display: inline;
  padding: 10px;
}
p{
  margin: 10px 0 0 10px;
}
